body{
    max-width: 1466px;
    margin: 0 auto;
}

li,.slogan,a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: medium;
}

header{
    background-color: #141617;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-width: 100px;
}

.slogan{
    margin-right: auto;
}

.nav_menu{
    list-style: none;
}

.nav_menu li{
    display: inline-block;
    margin-left: 20px;
}

.container-1{
    color: #141617;
    text-align: center;
}

.services{
    color: #141617;
    text-align: center;
}

.box-container{
    justify-content: center;
    display: flex;
    align-items: center;

}

.box{
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    padding: 10px;
    text-align: center;
}

main{
    min-height: calc(100vh - 50px - 54px);
}

footer{
    text-align: center;
    background-color: #141617;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    border-width: 100px;
}
